!gradle-wrapper.jar
*.DS_Store
*.bak
*.cab
*.class
*.ear
*.iml
*.ipr
*.iws
*.launch
*.lnk
*.log
*.msi
*.msm
*.msp
*.pid
*.pydevproject
*.seed
*.stTheme.cache
*.sublime-workspace
*.swp
*.tmPreferences.cache
*.tmlanguage.cache
*.tmp
*.war
*.xlk
*.~vsdx
*~
*~.nib
.AppleDB
.AppleDesktop
.AppleDouble
.DocumentRevisions-V100
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
._*
.apdisk
.buildpath
.cache
.classpath
.com.apple.timemachine.donotpresent
.cproject
.factorypath
.fseventsd
.gradletasknamecache
.grunt
.history
.loadpath
.lock-wscript
.metadata
.mvn/timing.properties
.netrwhist
.node_repl_history
.npm
.nyc_output
.project
.recommenders
.scala_dependencies
.springBeans
.target
.tern-project
.texlipse
.worksheet
/lib/nexial-json.jar
/lib/setup.jar
Desktop.ini
GitHub.sublime-settings
Icon
Network Trash Folder
Package Control.ca-bundle
Package Control.ca-list
Package Control.last-run
Package Control.system-ca-bundle
Session.vim
Temporary Items
Thumbs.db
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
atlassian-ide-plugin.xml
backup.db
bh_unicode_properties.cache
build/Release
buildNumber.properties
com_crashlytics_export_strings.xml
coverage
crashlytics-build.properties
crashlytics.properties
dependency-reduced-pom.xml
dist/*
ehthumbs.db
fabric.properties
gradle-app.setting
gradlew
gradlew.bat
hs_err_pid*
jspm_packages
lib-cov
local.properties
node_modules
npm-debug.log*
pids
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
release.properties
sftp-config.json
test.db
~$*.doc*
~$*.ppt*
~$*.xls*

$RECYCLE.BIN/
.externalToolBuilders/
.gradle
.idea/
.ideaDataSources/
.idea_modules/
.lib/
.mtj.tmp/
.recommenders/
.settings/
.svn/
/.archive/
/build
/logs/
/out/
Package Control.ca-certs/
Package Control.cache/
build/
classes/
dataSources/
gradle/
lib_managed/
logs
logs/
project/boot/
project/plugins/project/
src/test/resources/showcase/output/
src/test/resources/unittesting/output/
src_managed/
tags
target/
tmp/
/src/test/resources/unittesting/artifact/data/XMLOutput.xml
.DS_Store
*.iml
/src/test/resources/unittesting/artifact/bin/run-plan.cmd
/src/test/resources/unittesting/artifact/bin/run-script.cmd
/src/test/resources/unittesting/artifact/data/binary_test_baseline.png
/src/test/resources/unittesting/artifact/script/unittesting.macro.xlsx
