src/test/resources/unittesting/artifact/data/unitTest_excel.output3.expected.csv=crlf
src/test/resources/unittesting/artifact/data/unitTest_excel.output4.expected.csv=crlf
src/test/resources/unittesting/artifact/data/unitTest_excel.output5.expected.csv=crlf
