!gradle-wrapper.jar
$RECYCLE.BIN/
*.DS_Store
*.bak
*.cab
*.class
*.ear
*.iml
*.ipr
*.iws
*.launch
*.lnk
*.log
*.msi
*.msm
*.msp
*.pid
*.pydevproject
*.seed
*.stTheme.cache
*.sublime-workspace
*.swp
*.tmPreferences.cache
*.tmlanguage.cache
*.tmp
*.war
*.xlk
*.~vsdx
*~
*~.nib
.AppleDB
.AppleDesktop
.AppleDouble
.DocumentRevisions-V100
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
._*
.apdisk
.buildpath
.cache
.classpath
.com.apple.timemachine.donotpresent
.cproject
.externalToolBuilders/
.factorypath
.fseventsd
.gradle
.gradletasknamecache
.grunt
.history
.idea/
.ideaDataSources/
.idea_modules/
.lib/
.loadpath
.lock-wscript
.metadata
.mtj.tmp/
.mvn/timing.properties
.netrwhist
.node_repl_history
.npm
.nyc_output
.project
.recommenders
.recommenders/
.scala_dependencies
.settings/
.springBeans
.svn/
.target
.tern-project
.texlipse
.worksheet
/.archive/
/build
/logs
/out/
Desktop.ini
GitHub.sublime-settings
Icon
Network Trash Folder
Package Control.ca-bundle
Package Control.ca-certs/
Package Control.ca-list
Package Control.cache/
Package Control.last-run
Package Control.system-ca-bundle
Session.vim
Temporary Items
Thumbs.db
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
atlassian-ide-plugin.xml
backup.db
bh_unicode_properties.cache
build/
build/Release
buildNumber.properties
classes/
com_crashlytics_export_strings.xml
coverage
crashlytics-build.properties
crashlytics.properties
dataSources/
dependency-reduced-pom.xml
dist/*
ehthumbs.db
fabric.properties
gradle-app.setting
gradle/wrapper/
gradlew
gradlew.bat
hs_err_pid*
jspm_packages
lib-cov
lib_managed/
local.properties
logs
logs/
node_modules
npm-debug.log*
pids
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
project/boot/
project/plugins/project/
release.properties
sftp-config.json
src/test/resources/showcase/output/
src/test/resources/unittesting/output/
src_managed/
tags
target/
test.db
tmp/
~$*.doc*
~$*.ppt*
~$*.xls*
